node_modules/
.next/
out/
build/
venv2/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
chroma_db/
docs/
.DS_Store
.idea/
.vscode/
