fastapi
uvicorn
langgraph
langchain
langchain-community
langchain-ollama
chromadb
sentence-transformers
pydantic
python-dotenv
httpx
langchain-chroma
langchain-huggingface
wikipedia
rank_bm25
markdown
arxiv
youtube-transcript-api
duckduckgo-search
ddgs

